#list-container {
  margin: 5vh 25vw;
}  

#jump-to {
  margin: 5vh 0 10vh 0;
}

.stars {
  width: 164px;
  height: 28px;
}

.yelp-logo {
  width: 100px;
  height: 38px;
}

#loading-spinner {
  margin: 10vh 0
}

@media only screen and (max-width : 1024px) {
  #list-container {
    margin: 5vh 20vw;
  }
}

@media only screen and (max-width : 768px) {
  #list-container {
    margin: 5vh 10vw;
  }
}

@media only screen and (max-width : 480px) {
  #list-container {
    margin: 5vh 0;
  }

  #button-row {
    margin: 0 5vw;
  }
}